* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10%;
}

.input {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  padding-bottom: 20px;
}

.output {
  padding-bottom: 20px;
}

.ping {
  display: flex;
  justify-content: space-between;
  width: 150px;
}

button {
  cursor: pointer;
  background-color: lightblue;
  color: white;
  font-weight: 600;
  font-size: 20px;
  border: none;
  padding: 10px;
  border-radius: 10px;
  transition: all ease-in-out .2s;
}

button:hover {
  background-color: rgb(126, 202, 228);
}
